<?xml version="1.0" encoding="UTF-8"?>
<xml>
	<global>
	<limit>15000</limit>
	<defaultTo>e.gavrilenko@dkhz.com.ua</defaultTo>
	<defaultFrom>e.gavrilenko@dkhz.com.ua</defaultFrom>
	<defaultCc>e.gavrilenko@dkhz.com.ua</defaultCc>
	<defaultSubject>Minoltas counters report from DKHZ</defaultSubject>
	</global>
	<printers>
		<printer>
			<id>pko</id>
			<model>Bizhub 222</model>
			<serial>021011823</serial>
			<ip>10.242.17.11</ip>
			<last>1293085</last>
		<lasttime>2016-12-28 12:30:07</lasttime>
		<lastControlCount>1263724</lastControlCount>
		<lastControlTime>2016-10-31 08:00:00</lastControlTime>
	</printer>
		<printer>
			<id>sbit</id>
			<model>Bizhub 222</model>
			<serial>021014914</serial>
			<ip>10.242.17.8</ip>
			<last>476066</last>
		<lasttime>2016-12-28 12:30:07</lasttime>
		<lastControlCount>465300</lastControlCount>
		<lastControlTime>2016-10-31 08:00:00</lastControlTime>
	</printer>
	</printers>
</xml>
